:root {
    --textBaseColor: #343434;
    --textCostColor: #FFFFFF;

    --backgroundRoadLayout: #DFECF599;
    --backgroundInput: #FFFFFF66;

    --font-robot-medium: 'Robot Medium', Arial, sans-serif;
    --font-robot-bold: 'Robot Bold', Arial, sans-serif;
    --font-robot-light: 'Robot Light', Arial, sans-serif;

    --font-size-caption: 24px;
    --font-size-cost: 50px;
    --font-size-road: 16px;
    --font-size-input: 13px;
}

html, body, main {
    background: #DFE5EA;
}